body{
    margin: 0;
}

.divA{
    background-color:#ff0000 ; 
    width: 500px; 
    height: 500px;
}

.divB{
    background-color: #9700fb;
    width: 50%; 
    height: 50%;
}

.divC{
    color: white; 
    background-color: rgb(0, 0, 0); 
    font-size: 25px; 
    font-style: italic;
}

.divD{
    width: 50%; 
    height: 50vh; 
    background-color: rgb(255, 60, 0);
}

.divE{
    width: 75vw; 
    height: 50%;
     background-color: rgb(83, 43, 228);
}